* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
}

@media only screen and (max-width: 553px) {
    body {
        background-image: url("images/bg-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container {
        display: grid;
        grid-template-columns: 630px;
        grid-template-rows: 400px 260px;
    }
    .box-1 {
        position: relative;
        top: 120px;
        left: 5px;
        height: 220px;
        width: 325px;
    }
  .box-2{
    width: 325px;
    height: 165px;
   position: relative;
   bottom: 30px;
  }
  .usagebar{
    width: 262px;
    height: 20px;
  }

  .usagebar .insidebar{
    width: 193px;
    height: 20px;
}
.usagebar .whiteball{
    width: 20px;
height: 20px;
}
#tooltip{
    border-radius: 10px;
    position: relative;
    top: 200px;
    right: 20px;
}

.upload-back{
position: relative;
left: 20px;

}
.start{
    position: relative;
    right: 20px;
}
.end{
    position: relative;
    left: 50px;
}


}

@media only screen and (min-width: 554px) {
    body {
        background-image: url("images/bg-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container {
        display: grid;
        grid-template-columns: 620px;
        grid-template-rows: 420px 200px;
    }
    .box-1 {
        position: relative;
        top: 190px;
        left: 20px;
        height: 220px;
        width: 375px;
    }
    .box-2 {
        position: relative;
        top: 40px;
     
        width: 540px;
    height: 165px;
    }
    .usagebar{
        width: 459px;
    height: 20px;
    }
    .usagebar .insidebar{
        width: 339px;
        height: 20px;
    }
    .usagebar .whiteball{
        width: 20px;
    height: 20px;
    }
    #tooltip{
        border-radius: 10px 10px 0px 10px;
    }
    #tooltip:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        border: 30px solid transparent;
        border-top-color: #ffffff;
        border-bottom: 0px;
        border-right: 0px;
        margin-bottom: 120.9px;
        margin-left: 352px;
    }

    .start{
        position: relative;
        right: 20px;
    }
    .end{
        position: relative;
        left: 150px;
    }
    .attribution {
        position: relative;
        top: 190px;
    }
}

@media only screen and (min-width:1024px) {
    body {
        background-image: url("images/bg-desktop.png");
        background-position: 0 410px;
        background-color: hsl(229, 57%, 11%);
    }
    .container {
        display: grid;
        grid-template-columns: 420px 595px;
        grid-template-rows: 420px 200px;
        grid-column-gap: 20px;
    }
    .box-1 {
        position: relative;
        top: 300px;
        left: 20px;
        height: 220px;
    width: 375px;
    }
    .box-2 {
        position: relative;
        top: 355px;
        left: 10px;
        width: 540px;
    height: 165px;
    }
    .usagebar{
        width: 459px;
    height: 20px;
    }

    .usagebar .insidebar{
        width: 339px;
        height: 20px;
    }
    .usagebar .whiteball{
        width: 20px;
    height: 20px;
    }

    #tooltip{
        border-radius: 10px 10px 0px 10px;
    }
    #tooltip:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        border: 30px solid transparent;
        border-top-color: #ffffff;
        border-bottom: 0px;
        border-right: 0px;
        margin-bottom: 120.9px;
        margin-left: 352px;
    }
    .attribution {
        position: relative;
        top: 265px;
    }
}

@media only screen and (min-width:1900px) {
    body {
        background-image: url("images/bg-desktop.png");
        background-position: 0 430px;
        background-color: hsl(229, 57%, 11%);
    }
    .attribution {
        position: relative;
        top: 315px;
    }
}

/* Box #1 */

.box-1 {
    border-radius: 10px 100px 10px 10px;
    background: hsl(228, 56%, 26%);
    
}

.fylo-logo {
    margin-top: 50px;
    margin-left: 50px;
}

#hideThis {
    display: none;
}

.icons {
    margin-bottom: 50px;
    margin-left: 48.6px;
    margin-top: 35px;
}

/* Adds background behind the document icon in the <div> */

.docu-back {
    background: hsl(229, 57%, 11%);
    width: 46.6px;
    border-radius: 8px;
    margin-left: 4.6px;
}

.document-icon {
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 14.6px;
    margin-bottom: 5px;
}

/* Adds background behind the folder icon in the <div> */

.folder-back {
    background: hsl(229, 57%, 11%);
    width: 44.6px;
    height: 44px;
    border-radius: 8px;
    margin-left: 70px;
    margin-top: -44px;
}

.folder-icon {
    margin-top: 12px;
    margin-left: 10.8px;
    margin-bottom: 5px;
}

/* Adds background behind the upload icon in the <div> */

.upload-back {
    background: hsl(229, 57%, 11%);
    width: 44.6px;
    height: 44px;
    border-radius: 8px;
    margin-top: -44px;
}

.upload-icon {
    margin-top: 13.8px;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Box #2 */

.box-2 {
    background: hsl(228, 56%, 26%);
    
    border-radius: 10px;
}

.box-2 p {
    color: #fff;
    font-size: 14px;
    margin-top: 40px;
    margin-left: 48px;
}

.used-GB {
    font-weight: 700;
}

/* Custom CSS Style to the usage bar */

.usagebar {
    background: hsl(229, 57%, 11%);
    
    border-radius: 20px;
    margin-top: 20px;
}

.usagebar .insidebar {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
   
    border-radius: 10px;
    margin-left: 0px;
    background-position: center;
}

.usagebar .whiteball {
    background: #ffffff;
    border-radius: 50%;
    
    margin-right: 0;
}

.limits {
    font-weight: 700;
    display: flex;

    margin-top: -30px;
}



/* Practicing styling tooltip */

#tooltip {
    background-color: #fff;
    width: 190px;
    height: 84px;
    
    margin-top: -230px;
    margin-right: 50px;
}



#tooltip p {
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    padding-top: 15px;
    margin-left: 30px;
}

#tooltip span {
    color: #0C122C;
    font-size: 14px;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

/* Credit */

.attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}